
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit</h3>
        </div>
        <div class="panel-body">
            <form role="form">
				<div class="form-group col-xs-4 clear">
                    <div role="alert" class="alert alert-success">
                        <strong>Well done!</strong> You successfully edited your comment. <strong><a href="">back to posts</a></strong>
                    </div>
                    <div role="alert" class="alert alert-danger">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                </div>
                <div class="form-group col-xs-4 clear">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group col-xs-4 clear">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" placeholder="Comment" rows="5"></textarea>
                </div>
                <div class="form-group col-xs-4 clear">
					<button id="btnCancel" type="submit" class="btn btn-danger">Cancel</button>
                    <button id="btnSubmit" type="submit" class="btn btn-default">Update</button>
                </div>
            </form>
        </div>
    </div>


